.idea/
venv/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
### PyCharm ###
*.idea
.idea

### Postgres ###
dbdata/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

### Cache Python ###
*__pycache__*